<p class="text-faded mb-4">
  אמזון היום היא חברת המסחר הגדולה בעולם, עם מעל 500 מיליון משתמשים, היקף מכירות של 150 מיליארד דולר בשנה ושירות ב-12 מדינות כולל ארה"ב, בריטניה, גרמניה, אוסטרליה וסין. השוק צומח בקצב מסחרר כל שנה, מוסיף עוד לקוחות ויעדים. אבל השוק גם רווי בסוחרים ויזמים, ולכן צריך להתנהל בו באופן חכם ומקצועי.
</p>
<p class="text-faded mb-4">
אנחנו ב<span class="font-weight-bold">אמזון אקספרס</span>
    מביאים ניסיון של 5 שנים ומספר מוצרים מצליחים כדי לתת לכם פתרון מעטפת מלא, מא' עד ת', להקמה וניהול של חנויות אמזון ברחבי הגלובוס. צרו איתנו קשר לייעוץ
    <span class="font-weight-bold highlight">חינם </span>
    על המוצר שלכם - אם אתם מאמינים בו, זה הזמן לשים אותו בשוק של הגדולים. אין סיבה לא להרחיב תפוצה ולדחוף את העסק קדימה איפה שאפשר.
</p>