<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">מי אנחנו</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="about col-lg-12 mx-auto text-right">
        <h3 class="mb-3">
          אם יש לכם מוצר שאתם מאמינים בו, אנחנו נשים אותו על המפה ונעזור לכם להגדיל חשיפה ורווחים.
        </h3>
        <p class="text-faded mb-4">
          אמזון היום היא חברת המסחר הגדולה בעולם, עם מעל 500 מיליון משתמשים, היקף מכירות של 150 מיליארד דולר בשנה ושירות ב-12 מדינות כולל ארה"ב, בריטניה, גרמניה, אוסטרליה וסין. השוק צומח בקצב מסחרר כל שנה, מוסיף עוד לקוחות ויעדים. אבל השוק גם רווי בסוחרים ויזמים, ולכן צריך להתנהל בו באופן חכם ומקצועי.
        </p>
        <p class="text-faded mb-4">
          אנחנו באמזון אקספרס מביאים ניסיון של 5 שנים ומספר מוצרים מצליחים כדי לתת לכם פתרון מעטפת מלא, מא' עד ת', להקמה וניהול של חנויות אמזון ברחבי הגלובוס. צרו איתנו קשר לייעוץ חינם על המוצר שלכם - אם אתם מאמינים בו, זה הזמן לשים אותו בשוק של הגדולים. אין סיבה לא להרחיב תפוצה ולדחוף את העסק קדימה איפה שאפשר.
        </p>
        <h3 class="mb-3">
          תנו לנו לטפל במעטפת בזמן שאתם מתמקדים בתכנון ושיפור המוצר שלכם.
        </h3>
      </div>
    </div>
  </div>
</section>