<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">מי אנחנו</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="about col-lg-12 mx-auto text-right rtl">
        <h3 class="mb-3">
          {{ site.data.about.header_top }}
        </h3>
        {% include about_text.html %}
        <h3 class="mb-3">
          {{ site.data.about.header_bottom }}
        </h3>
      </div>
    </div>
  </div>
</section>