<section class="contact-area" id="contact">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <h2 class="section-heading">צור קשר</h2>
          <hr class="my-4">
        </div>
      </div>
      <div class="row d-flex flex-row-reverse">
        <!-- Phone + email icon columns -->
        {% for item in site.data.contact.contact_items %}
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="mb-3 fa-2x {{ item.icon }}"></i>
              <p>
                {{ item.data }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Address icon column -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="mb-3 fa-2x fa fa-map-marker-alt sr-contact-3"></i>
              <p class="rtl">
                {{ site.data.contact.address_line1 }}
                <br>
                <span>{{ site.data.contact.address_line2 }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <!-- Google Map -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <iframe src="{{ site.data.contact.google_maps_location_src }}" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Contact form -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form contact-form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="{{ site.data.contact.form_action }}" method="POST" role="form" class="contactForm">
              <div class="form-group rtl">
                <input type="text" name="name" class="form-control" id="name" placeholder="שם מלא" data-rule="minlen:4" data-msg="אנא הזן 4 תווים לפחות" />
                <div class="validation"></div>
              </div>
              <div class="form-group rtl">
                <input type="email" class="form-control" name="email" id="email" placeholder="אימייל" data-rule="email" data-msg="אנא הזן כתובת אימייל תקינה" />
                <div class="validation"></div>
              </div>
              <div class="form-group rtl">
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="טלפון" />
                <div class="validation"></div>
              </div>
              <div class="form-group rtl">
                <textarea class="form-control" name="message" rows="5" placeholder="הודעה"></textarea>
                <div class="validation"></div>
              </div>
              <!--<div class="text-center"><button type="submit">Send Message</button></div>-->
              <div class="text-center">
                <button type="submit" class="btn btn-primary">צור קשר</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>