<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">השירותים שלנו</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row flex-row-reverse">
      {% for service in site.data.services %}
      <div class="col-lg-4 col-md-6 text-center">
        <!--<i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>-->
        <!--<h3 class="mb-3">Ready to Ship</h3>-->
        <!--<p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>-->
        <div class="service hover_service mt-5 mx-auto">
          <!--<div class="icon"><img src="{{ service.icon_src }}" class="text-primary mb-3 sr-icon-1"></img></div>-->
          <div class="icon"><i class="text-primary mb-3 fa-4x {{ service.icon }}"></i></div>
          <p class="text text-faded mb-0">
            <h3 class="mb-3">{{ service.title }}</h3>
            <ul class="text-right">
              {% for item in service.description %}
              <li class="rtl">{{ item }}</li>
              {% endfor %}
            </ul>
            <!--<p class="text-muted mb-0">{{ service.description }}</p>-->
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>